set_io -nowarn A[0] 29
set_io -nowarn A[1] 28
set_io -nowarn A[2] 31
set_io -nowarn A[3] 26
set_io -nowarn A[4] 25
set_io -nowarn A[5] 24
set_io -nowarn A[6] 21
set_io -nowarn A[7] 20
set_io -nowarn A[8] 19
set_io -nowarn A[9] 18
set_io -nowarn A[10] 16
set_io -nowarn A[11] 12
set_io -nowarn A[12] 10
set_io -nowarn A[13] 9
set_io -nowarn A[14] 8
set_io -nowarn A[15] 7
set_io -nowarn A[16] 4
set_io -nowarn A[17] 3
set_io -nowarn A[18] 2
set_io -nowarn A[19] 1
set_io -nowarn D[0] 101
set_io -nowarn D[1] 99
set_io -nowarn D[2] 97
set_io -nowarn D[3] 96
set_io -nowarn D[4] 95
set_io -nowarn D[5] 94
set_io -nowarn D[6] 93
set_io -nowarn D[7] 91
set_io -nowarn IORQ 87
set_io -nowarn MREQ 88
set_io -nowarn RD 85
set_io -nowarn WR 83
set_io -nowarn M1 82
set_io -nowarn BUSACK 81
set_io -nowarn TEND0 80
set_io -nowarn TEND1 79
set_io -nowarn BUSRQ 74
set_io -nowarn INT0 73
set_io -nowarn INT1 72
set_io -nowarn INT2 71
set_io -nowarn INT3 53
set_io -nowarn INT4 52
set_io -nowarn INT5 51
set_io -nowarn INT6 56
set_io -nowarn INT7 54
set_io -nowarn DREQ0 68
set_io -nowarn DREQ1 66
set_io -nowarn TX 65
set_io -nowarn RX 64
set_io -nowarn CTS 63
set_io -nowarn WAIT 41
set_io -nowarn I2C_SDA 32
set_io -nowarn I2C_SCL 33
set_io -nowarn PHI 15
set_io -nowarn LED1 60
set_io -nowarn LED2 55
set_io -nowarn CLK1 34
set_io -nowarn CDONE 43
set_io -nowarn CRESET_B 44
set_io -nowarn SPI_SDO 45
set_io -nowarn SPI_SDI 47
set_io -nowarn SPI_SCK 48
set_io -nowarn SPI_SS 49
set_frequency PHI 18.432
set_frequency CLK1 100
